[Unit]
Description=Simple Activity Tracker Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/gyro.py

[Install]
WantedBy=multi-user.target